<!DOCTYPE html>

<head>
  <title>
    Movies
  </title>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css"
    integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  <link rel="stylesheet" href="../static/styles/mainpagecss.css">
  <link rel=”stylesheet” href=”https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css”>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>

<body>
  <div class="maincontainer">
    <div class="nav">
      <div class="logo"><a href="home.php"><img src="medbuypng.png"></a></div>
      <div class="headings">
        <a href="database.php">
          <p>Home</p>
        </a>
        <a href="order.php">
          <p>Orders</p>
        </a>
        <a href="addretailer.php">
          <p>Record</p>
        </a>
      </div>

    </div>
    <div class="additional">

      <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">

        <ol class="carousel-indicators">
          <div class="search-container">
            <form action="#" id="f">
              <input type="text" placeholder="Search.." name="search">
              <button type="submit"><i class="fa fa-search"></i></button>
            </form>
          </div>
          <!-- <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
            <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
            <li data-target="#carouselExampleIndicators" data-slide-to="2"></li> -->
        </ol>
      </div>
    </div>
    <div class="trinding">
      <div class="trending">
        <p class="context">TRENDING</p>
      </div>
      <div class="posters">
        <div class="videos">

          <div class="element">
            <video loop>
              <source
                src="C:\Users\dilip\Music\Game of Thrones S07\Game of Thrones S07 BluRay 1080p x264 6CH-HDHub4u\video_2022-08-30_02-24-16.mp4">
            </video>
            <div class="nameOf">
              <p>Dr. Romantic</p>
            </div>
          </div>
          <div class="element">
            <video loop>
              <source
                src="C:\Users\dilip\Music\Game of Thrones S07\Game of Thrones S07 BluRay 1080p x264 6CH-HDHub4u\video_2022-08-30_02-24-16.mp4">
            </video>
            <div class="nameOf">
              <p>Dr. Romantic</p>
            </div>
          </div>
          <div class="element">
            <video loop>
              <source
                src="C:\Users\dilip\Music\Game of Thrones S07\Game of Thrones S07 BluRay 1080p x264 6CH-HDHub4u\video_2022-08-30_02-24-16.mp4">
            </video>
            <div class="nameOf">
              <p>Dr. Romantic</p>
            </div>
          </div>
          <div class="element">
            <video loop>
              <source
                src="C:\Users\dilip\Music\Game of Thrones S07\Game of Thrones S07 BluRay 1080p x264 6CH-HDHub4u\video_2022-08-30_02-24-16.mp4">
            </video>
            <div class="nameOf">
              <p>Dr. Romantic</p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="thriller">
      <div class="trendingd">
        <p class="context">THRILLER</p>
      </div>
      <div class="posters">
        <div class="videos">

          <div class="element">
            <video loop>
              <source
                src="C:\Users\dilip\Music\Game of Thrones S07\Game of Thrones S07 BluRay 1080p x264 6CH-HDHub4u\video_2022-08-30_02-24-16.mp4">
            </video>
            <div class="nameOf">
              <p>Dr. Romantic</p>
            </div>
          </div>
          <div class="element">
            <video loop>
              <source
                src="C:\Users\dilip\Music\Game of Thrones S07\Game of Thrones S07 BluRay 1080p x264 6CH-HDHub4u\video_2022-08-30_02-24-16.mp4">
            </video>
            <div class="nameOf">
              <p>Dr. Romantic</p>
            </div>
          </div>
          <div class="element">
            <video loop>
              <source
                src="C:\Users\dilip\Music\Game of Thrones S07\Game of Thrones S07 BluRay 1080p x264 6CH-HDHub4u\video_2022-08-30_02-24-16.mp4">
            </video>
            <div class="nameOf">
              <p>Dr. Romantic</p>
            </div>
          </div>
          <div class="element">
            <video loop>
              <source
                src="C:\Users\dilip\Music\Game of Thrones S07\Game of Thrones S07 BluRay 1080p x264 6CH-HDHub4u\video_2022-08-30_02-24-16.mp4">
            </video>
            <div class="nameOf">
              <p>Dr. Romantic</p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="SCI_FI">
      <div class="trendingd">
        <p class="context">SCI-FI</p>
      </div>
      <div class="posters">
        <div class="videos">

          <div class="element">
            <video loop>
              <source
                src="C:\Users\dilip\Music\Game of Thrones S07\Game of Thrones S07 BluRay 1080p x264 6CH-HDHub4u\video_2022-08-30_02-24-16.mp4">
            </video>
            <div class="nameOf">
              <p>Dr. Romantic</p>
            </div>
          </div>
          <div class="element">
            <video loop>
              <source
                src="C:\Users\dilip\Music\Game of Thrones S07\Game of Thrones S07 BluRay 1080p x264 6CH-HDHub4u\video_2022-08-30_02-24-16.mp4">
            </video>
            <div class="nameOf">
              <p>Dr. Romantic</p>
            </div>
          </div>
          <div class="element">
            <video loop>
              <source
                src="C:\Users\dilip\Music\Game of Thrones S07\Game of Thrones S07 BluRay 1080p x264 6CH-HDHub4u\video_2022-08-30_02-24-16.mp4">
            </video>
            <div class="nameOf">
              <p>Dr. Romantic</p>
            </div>
          </div>
          <div class="element">
            <video loop>
              <source
                src="C:\Users\dilip\Music\Game of Thrones S07\Game of Thrones S07 BluRay 1080p x264 6CH-HDHub4u\video_2022-08-30_02-24-16.mp4">
            </video>
            <div class="nameOf">
              <p>Dr. Romantic</p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="findbyname">
      <div class="trendingd">
        <p class="context">Search By Details</p>
      </div>
      <form id="get" method="POST" action="medbuyphp.php" autocomplete="on" enctype="multipart/form-data">
        <div class="bodie">
          <div class="m-s"><label>Movie</label><br>
            <input type="text" id="name" spellcheck="false" name="name" placeholder="name">
            <div class="error"><span id="errorname" style="color:black;"></span></div>
          </div>


          <div class="m-s"><label>Genre</label><br>
            <input type="text" id="genre" spellcheck="false" name="genre" placeholder="genre">
            <div class="error"><span id="errorname" style="color:black;"></span></div>
          </div>

          <div class="m-s"><label>Actor</label><br>
            <input type="text" id="actor" name="actor" placeholder="actor">
            <div class="error"> <span id="errornumber" style="color:black;"></span></div>
          </div>

          <div class="m-s"><label>Director</label><br>
            <input type="text" id="lid" spellcheck="false" name="lid" placeholder="director">
            <div class="error"><span id="errorname" style="color:black;"></span></div>
          </div>




          <div class="last"><button type="submit" value="search" name="search" id="search">Search</button></div>
        </div>
      </form>

    </div>
  </div>

  </div>


  <div class="footer">
    <a href="#">Home</a>
    <a href="#">BookMarks</a>
    <a href="#">Account</a>
    <a href="#">Logout</a>
  </div>
  </div>
  
  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
    integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
    crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js"
    integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
    crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js"
    integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
    crossorigin="anonymous"></script>



</body>



</html>