* {
    margin: 0;
    padding: 0 0;
    font-family: 'Times New Roman';
    text-decoration: none;
}

.container-navbar {
    width: 100%;
    height: 15%;
    /* background: linear-gradient(rgba(8, 8, 5, 0.75), rgba(234, 236, 235, 0.75)); */
    background: #a2ef36f3;
}

.logo {
    width: 4%;
    cursor: pointer;
}

.navbar {
    width: 85%;
    padding: 35px 0;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navbar ul li {
    list-style: none;
    display: inline-block;
    margin: 0 20px;
}

.navbar ul li a {
    color: black;
    font-size: 35px;
    font-family: 'Times New Roman', Times, serif;
    text-decoration: none;
}

.navbar ul li a:hover,
.navbar ul li button:hover,
.navbar h1:hover {
    text-shadow: 30px;
    color: #ff3321ef;
}


.navbar button {
    border: none;
    background: none;
    font-size: 35px;
}


.hamburger {
    display: none;
}

.bar {
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px auto;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    background-color: #101010;
}

@media only screen and (max-width: 768px) {
    .navbar ul li {
        display: block;
        padding: 1%;
    }

    .navbar ul li a {
        color: #a2ef36f3;
        font-weight: bolder;
        font-size: large;
    }

    .navbar ul li a:hover {
        color: #ff3321ef;
    }

    .nav-menu {
        position:fixed;
        z-index: 3;
        left: -100%;
        top: 6rem;
        flex-direction: column;
        width: 100%;
        text-align: center;
        transition: 0.3s;
        background-color: #000000f3;
        box-shadow: 0 10px 27px rgba(0, 0, 0, 0.05);
    }

    .nav-menu.active {
        left: 0;
    }

    .nav-item {
        margin: 2.5rem 0;
    }

    .searchbox {
        padding: 5% 0 0 5%;
    }

    .searchbox #query_term {
        width: 80%;
    }

    .searchbutton #submit {
        width: 40%;
    }

    .hamburger {
        display: block;
        cursor: pointer;
    }

    .hamburger.active .bar:nth-child(2) {
        opacity: 0;
    }

    .hamburger.active .bar:nth-child(1) {
        transform: translateY(8px) rotate(45deg);
    }

    .hamburger.active .bar:nth-child(3) {
        transform: translateY(-8px) rotate(-45deg);
    }

    .searchbox {
        padding: 0;
    }

    .searchbox .box {
        width: 80%;
        font-size: large;
        margin: 0;
    }

    .selects-container {
        margin: 2% 0;
        padding-bottom: 3%;
        display: flex;
        justify-content: space-around;
        align-items: center;
        color: aliceblue;
        flex-direction: column;
        flex-wrap: wrap;
    }
}

/*Search movie */
.search-container {
    display: none;
    background-color: black;
    transition: ease-in-out;
}

.searchbox .box {
    width: 25%;
    margin: 3% 0 0 35%;
    height: 5%;
    font-size: large;
}

.searchbox .search-button {
    height: 5%;
    font-size: large;
    margin-right: 5%;
}

.selects-container {
    margin: 2% 0;
    padding-bottom: 3%;
    display: flex;
    justify-content: space-around;
    color: aliceblue;
    font-size: large;
}

.selects-container .search-filts {
    display: inline;
}

.selects-container select {
    height: 30px;
}

.search_query {
    display: inline;
}

.search_query p {
    padding: 2% 0 0 4%;
    font-weight: bold;
}

@media only screen and (min-width: 770px) {
    .search_query p {
        font-size: 30px;
    }

    .card-group {
        display: inline-flex;
        justify-content: center;
        align-items: space-around;
        width: 20%;
    }
}

.card-group {
    display: inline-flex;
    justify-content: center;
    align-items: space-around;
    width: 20%;
    margin: 2% 0 0 4%;
}
@media only screen and (max-width:768px) {
    .card-group {
        width: 43%;
    }
}
.card {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.card:hover {
    border-style: solid;
    border-color: rgb(102, 128, 51);
}

.tor-det {
    position: absolute;
    top: 35%;
    left: 30%;
    visibility: hidden;
    font-weight: bolder;
    color: rgb(0, 0, 0);
    font-size: 30px;
}


@media only screen and (max-width:768px) {
    .tor-det, .tor-det a {
        top: 20%;
        left: 25%;
        font-size: medium;
    }
}
.tor-det a {
    display: block;
    text-align: center;
    text-decoration: none;
    font-weight: bolder;
    color: rgba(0, 0, 0, 0.43);
    font-size: 30px;
}
@media only screen and (max-width:768px) {
    .tor-det a {
        font-size: medium;
    }
}

.tor-det a:hover {
    color: rgba(0, 0, 0);

}

footer {
    height:15%;
    background-color: black;
}

.footer {
    padding-top: 3%;
}

footer ul {
    display: flex;
    padding: 0% 30%;
    align-items: center;
    justify-content: space-between;
}
footer, footer a {
    text-decoration: none;
    color: rgb(239, 234, 234);
}

@media only screen and (max-width:768px) {
    footer ul {
        padding: 0 10%;
        display: block;
    }

    footer {
        height: 20%;
    }
}