* {
    margin: 0;
    padding: 0 0;
    font-family: 'Times New Roman';
}

.container-navbar {
    width: 100%;
    height: 15%;
    /* background: linear-gradient(to right, rgba(245, 245, 245, 0.959), rgba(0, 0, 0, 0.75)); */
    background-color: #a2ef36f3;
}

.logo {
    width: 4%;
    cursor: pointer;
}

.navbar {
    width: 85%;
    padding: 35px 0;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navbar ul li {
    list-style: none;
    display: inline-block;
    margin: 0 20px;
}

.navbar ul li a {
    color: rgb(0, 0, 0);
    font-size: 35px;
    font-family: 'Times New Roman', Times, serif;
    text-decoration: none;
}

.navbar ul li a:hover {
    color: #ff3321ef;
    text-shadow: 30px;
}

.navbar h1:hover {
    color: #ff3321ef;
}

.hamburger {
    display: none;
}

.bar {
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px auto;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    background-color: #101010;
}

@media only screen and (max-width: 768px) {
    .navbar ul li {
        display: block;
        padding: 1%;
    }

    .navbar ul li a {
        color: #a2ef36f3;
        font-weight: bolder;
        font-size: large;
    }

    .navbar ul li a:hover {
        color: #ff3321ef;
    }

    .nav-menu {
        position: fixed;
        z-index: 3;
        left: -100%;
        top: 6rem;
        flex-direction: column;
        width: 100%;
        text-align: center;
        transition: 0.3s;
        background-color: #000000f3;
        box-shadow: 0 10px 27px rgba(0, 0, 0, 0.05);
    }

    .nav-menu.active {
        left: 0;
    }

    .nav-item {
        margin: 2.5rem 0;
    }

    .searchbox {
        padding: 5% 0 0 5%;
    }

    .searchbox #query_term {
        width: 80%;
    }

    .searchbutton #submit {
        width: 40%;
    }

    .hamburger {
        display: block;
        cursor: pointer;
    }

    .hamburger.active .bar:nth-child(2) {
        opacity: 0;
    }

    .hamburger.active .bar:nth-child(1) {
        transform: translateY(8px) rotate(45deg);
        background-color: #ff3321ef
    }

    .hamburger.active .bar:nth-child(3) {
        transform: translateY(-8px) rotate(-45deg);
        background-color: #ff3321ef
    }

    .searchbox {
        padding: 0;
    }

    .searchbox .box {
        width: 80%;
        font-size: large;
        margin: 0;
    }

    .selects-container {
        margin: 2% 0;
        padding-bottom: 3%;
        display: flex;
        justify-content: space-around;
        align-items: center;
        color: aliceblue;
        flex-direction: column;
        flex-wrap: wrap;
    }

}

.search-container {
    display: none;
    background-color: black;
    transition: ease-in-out;
}

.searchbox .box {
    width: 25%;
    margin: 3% 0 0 35%;
    height: 5%;
    font-size: large;
}

.searchbox .search-button {
    height: 5%;
    font-size: large;
    margin-right: 5%;
}

.selects-container {
    margin: 2% 0;
    padding-bottom: 3%;
    display: flex;
    justify-content: space-around;
    color: aliceblue;
    font-size: large;
}

.selects-container .search-filts {
    display: inline;
}

.selects-container select {
    height: 30px;
}

.nomovie {
    background-color:rgba(52, 51, 44, 0.885);
    display:flex;
    align-items: center;
    flex-direction: column;
    padding: 14% 0;   
    color: black;
}

.nomovie #query {
    color: greenyellow;
}


/* footer */
footer {
    height: 15%;
    background-color: black;
}

.footer {
    padding-top: 3%;
}

footer ul {
    display: flex;
    padding: 0% 30%;
    align-items: center;
    justify-content: space-between;
}

footer,
footer a {
    color: rgb(239, 234, 234);
    text-decoration: none;
}

@media only screen and (max-width:768px) {
    footer ul {
        padding: 0 0 0 2%;
        display: block;
    }

    footer {
        position:relative;
        height: 20%;
    }

    .footer {
        width: 45%;
    }
}