* {
    margin: 0;
    padding: 0 0;
    font-family: 'Times New Roman';
    text-decoration: none;
}

.container-navbar {
    width: 100%;
    height: 15%;
    background: #a2ef36f3;
}

.logo {
    width: 4%;
    cursor: pointer;
}

.navbar {
    width: 85%;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

nav {
    padding: 30px 0 0 0;
}

h1 {
    padding: 10px 0 0 0;
}

.navbar ul li {
    list-style: none;
    display: inline-block;
    margin: 0 20px;
}

.navbar ul li a {
    color: black;
    font-size: 35px;
    font-family: 'Times New Roman', Times, serif;
    text-decoration: none;
}

.navbar ul li a:hover,
.navbar ul li button:hover {
    text-shadow: 30px;
    color: #ff3321ef;
}

.navbar h1:hover {
    color: #ff3321ef;
}

.navbar button {
    border: none;
    background: none;
    font-size: 35px;
}

    
.hamburger {
    display: none;
}

.bar {
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px auto;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    background-color: #101010;
}

@media only screen and (max-width: 768px) {
    .navbar ul li {
        display: block;
        padding: 1%;
    }

    .navbar ul li a {
        color: #a2ef36f3;
        font-weight: bolder;
        font-size: large;
    }

    .navbar ul li a:hover {
        color: #ff3321ef;
    }

    .nav-menu {
        position:fixed;
        z-index: 3;
        left: -100%;
        top: 6rem;
        flex-direction: column;
        width: 100%;
        text-align: center;
        transition: 0.3s;
        background-color: #000000f3;
        box-shadow: 0 10px 27px rgba(0, 0, 0, 0.05);
    }

    .nav-menu.active {
        left: 0;
    }

    .nav-item {
        margin: 2.5rem 0;
    }

    .hamburger {
        display: block;
        cursor: pointer;
    }

    .hamburger.active .bar:nth-child(2) {
        opacity: 0;
    }

    .hamburger.active .bar:nth-child(1) {
        transform: translateY(8px) rotate(45deg);
        background-color: #ff3321ef;
    }

    .hamburger.active .bar:nth-child(3) {
        transform: translateY(-8px) rotate(-45deg);
        background-color: #ff3321ef;
    }
    
    h1 {
        padding-top: 35px;
    }
}

.container-movie-details {
    float: right;
}

.card-body * {
    color: aliceblue;
}

.card-body {
    background-size:cover ;
    height: 100%;
    background-repeat: no-repeat;
}
.details {
    padding: 3%;
}

.table-borderless input {
    color: #a2ef36f3;
    background-color: rgba(0, 0, 0, 0.368);
    border-radius: 6px;
}


/* Footer */
footer {
    height:15%;
    background-color: black;
}

.footer {
    padding-top: 3%;
}

footer ul {
    display: flex;
    padding: 0% 30%;
    align-items: center;
    justify-content: space-between;
}

footer, footer a {
    color: rgb(239, 234, 234);
    text-decoration: none;
}

.card .mb-3 {
    margin-bottom: 0px;
}

@media only screen and (max-width:768px) {
    footer ul {
        padding: 0 10%;
        display: block;
    }
}