* {
    margin: 0;
    padding: 0 0;
    font-family: 'Times New Roman';
}

.container-navbar {
    width: 100%;
    height: 15%;
    /* background: linear-gradient(to right, rgba(245, 245, 245, 0.959), rgba(0, 0, 0, 0.75)); */
    background-color: #a2ef36f3;
}

.logo {
    width: 4%;
    cursor: pointer;
}

.navbar {
    width: 85%;
    padding: 35px 0;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navbar ul li {
    list-style: none;
    display: inline-block;
    margin: 0 20px;
}

.navbar ul li a {
    color: rgb(0, 0, 0);
    font-size: 35px;
    font-family: 'Times New Roman', Times, serif;
    text-decoration: none;
}

.navbar ul li a:hover {
    color:#ff3321ef;
    text-shadow: 30px;
}

.navbar h1:hover {
    color:#ff3321ef;
}

.hamburger {
    display: none;
}

.bar {
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px auto;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    background-color: #101010;
}

@media only screen and (max-width: 768px) {
    .navbar ul li {
        display: block;
        padding: 1%;
    }

    .navbar ul li a {
        color: #a2ef36f3;
        font-weight: bolder;
        font-size: large;
    }
    
    .navbar ul li a:hover {
        color: #ff3321ef;
    }
    .nav-menu {
        position: absolute;
        left: -100%;
        top: 6rem;
        flex-direction: column;
        width: 100%;
        text-align: center;
        transition: 0.3s;
        box-shadow: 0 10px 27px rgba(0, 0, 0, 0.05);
    }

    .nav-menu.active {
        left: 0;
    }

    .nav-item {
        margin: 2.5rem 0;
    }

    form {
        position:relative;
        top:80px;
    }

    
    .searchbox {
        padding: 5% 0 0 5%;
    }

    .searchbox #query_term{
        width: 80%;
    }

    .searchbutton #submit{
        width: 40%;
    }

    .hamburger {
        display: block;
        cursor: pointer;
    }

    .hamburger.active .bar:nth-child(2) {
        opacity: 0;
    }

    .hamburger.active .bar:nth-child(1) {
        transform: translateY(8px) rotate(45deg);
    }

    .hamburger.active .bar:nth-child(3) {
        transform: translateY(-8px) rotate(-45deg);
    }

}


.container-search {
    width: 100%;
    height: 85%;
    background-image: linear-gradient(rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0.75)), url(https://wallpapercave.com/wp/wp2695371.jpg);
    background-size: cover;
    background-position: center;
}

.searchbox {
    position: center;
    padding: 17% 0 0 25%;
    width: 70%;
    height: 10%;
}

form {
    position: relative;
    top: 159px;
}

.searchbox input {
    position: center;
    width: 70%;
    height: 50px;
    border-radius: 15px;
    font-size: large;
}

.searchbox input:active {
    background-color: rgba(0, 0, 0, 0);
}

.searchbutton {
    position: center;
    padding: 2% 0 0 41%;
}

.searchbutton input {
    position: center;
    height: 50px;
    border-radius: 15px;
    font-size: large;
    width: 25%;
}

.searchbutton input:hover {
    box-shadow: inset;
    /* background-color: rgba(24, 28, 21, 0.119); */
    background-color: #a2ef36f3;
    font-size: large;
}

.container-trending {
    background: linear-gradient(rgba(241, 234, 234, 0.75), rgba(0, 0, 0, 0.75)), url();
}

.container-trending h1 {
    padding: 3% 41%;
}

.movies {
    display: flex;
    align-items: center;
    justify-content: center;
    justify-content: space-around;
    align-content: center;
}

.movies img,
h3 {
    width: 70%;
    padding: 0 0 3% 14%;
}

.movies h3 {
    color: aliceblue;
    padding-bottom: 30%;
    justify-content: center;
    display: flex;
}

footer {
    height: 15%;
    background-color: black;
}

footer ul {
    display: flex;
    align-items: center;
    justify-content: center;
    justify-content: space-around;
    align-content: center;
}

.footer {
    width: 40%;
    padding: 3% 30%;
    display: center;
}

footer p, a {
    color: rgb(239, 234, 234);
}

@media only screen and (max-width:768px) {
    footer ul {
        padding: 0 0 0 2%;
        display: block;
    }

    footer {
        height: 20%;
    }
    .footer {
        width: 45%;
    }
}